body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  margin: 0;
  text-decoration: underline;
}

form {
  width: auto;
  height: auto;
  position: absolute;
  top: 8vh;
  left: 20vw;
  padding: 8px 20px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
}

legend {
  font-family: 'Satisfy', cursive;
  font-style: bold;
  font-size: 25px;
}

label {
  font-family: 'Recursive', sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-right: 5px;
}

input {
  height: 25px;
  width: 200px;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  padding: 3px 5px;
  background: none;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  text-justify: auto;
}

#name-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 18px;
}

#first-name {
  margin-right: 15px;
}

textarea {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  padding: 5px 8px;
  background: none;
  border: 1px solid rgb(79, 79, 79);
  border-radius: 3px;
}

#address-container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 18px;
}

select {
  height: 25px;
  font-size: 18px;
  background: none;
}

#country-list-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 10px;
}

#contact-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 18px;
}

#contact-number {
  margin-right: 15px;
}

#email-container {
  margin-bottom: 18px;
}

#mail {
  width: 300px;
}

ul {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: start;
}

input[type=radio]{
  display: inline-block;
  width: auto;
}

.feedback-answer {
  font-weight: normal;
  margin-left: 4px;
}

button {
  font-family: 'Oswald', sans-serif;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  padding: 4px 20px;
  margin-top: 5px;
  margin-left: 690px;
}