body {
  margin: 0;
  padding: 0;
}

#background {
  width: 100%;
  height: 100vh;
  margin: 0;
  object-fit: cover;
  z-index: -1;
}

form {
  position: absolute;
  top: 10px;
  left: 10px; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}